[submodule "puppet/modules/apt"]
	path = puppet/modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
[submodule "puppet/modules/rabbitmq"]
	path = puppet/modules/rabbitmq
	url = https://github.com/puppetlabs/puppetlabs-rabbitmq.git
[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
